In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels.api as sm 
import scipy.stats as stats
import pylab
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_QoiMO9B.csv')

In [3]:
train.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders,cumu
0,1379560,1,55,1885,136.83,152.29,0,0,177,177
1,1466964,1,55,1993,136.83,135.83,0,0,270,447
2,1346989,1,55,2539,134.86,135.86,0,0,189,636
3,1338232,1,55,2139,339.50,437.53,0,0,54,690
4,1448490,1,55,2631,243.50,242.50,0,0,40,730

In [4]:
train=train.drop(['cumu','emailer_for_promotion','homepage_featured'],axis=1)

In [5]:
train['Total_price']=train.base_price+train.checkout_price

In [6]:
train.drop(['checkout_price','base_price'],axis=1,inplace=True)

In [7]:
train = train[train.num_orders<500]

In [8]:
train.head()

        id  week  center_id  meal_id  num_orders  Total_price
0  1379560     1         55     1885         177       289.12
1  1466964     1         55     1993         270       272.66
2  1346989     1         55     2539         189       270.72
3  1338232     1         55     2139          54       777.03
4  1448490     1         55     2631          40       486.00

In [9]:
train.shape

(392838, 6)

In [10]:
train.corr()

                   id      week  center_id   meal_id  num_orders  Total_price
id           1.000000  0.002917   0.003264  0.000098   -0.001345     0.002269
week         0.002917  1.000000  -0.001631  0.016908   -0.005296     0.019547
center_id    0.003264 -0.001631   1.000000  0.012362   -0.021868    -0.012139
meal_id      0.000098  0.016908   0.012362  1.000000    0.029756    -0.003531
num_orders  -0.001345 -0.005296  -0.021868  0.029756    1.000000    -0.290143
Total_price  0.002269  0.019547  -0.012139 -0.003531   -0.290143     1.000000

In [11]:
test.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [12]:
test.drop(['emailer_for_promotion', 'homepage_featured'], axis =1, inplace = True)

In [13]:
test['Total_price'] = test.checkout_price + test.base_price

In [14]:
test.drop(['checkout_price', 'base_price'], axis =1, inplace = True)

In [17]:
test = scaler.fit_transform(test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [18]:
test = pf.fit_transform(test)

In [19]:
#test.drop(['const'],axis=1,inplace=True)
test=sm.add_constant(test)

In [21]:
test.shape

(32573, 21)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
scaler = StandardScaler()
pf = PolynomialFeatures(degree=2)
x = train.drop('num_orders', axis = 1)
x = scaler.fit_transform(x)
x = pf.fit_transform(x)
x= sm.add_constant(x)
y = train.num_orders

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [24]:
x.shape

(392838, 21)

In [25]:
#using linear regression model - test_train_split
lm = LinearRegression()

In [26]:
#fitting and predicting the model 
model =lm.fit(x, y)
lm_pred = lm.predict(test)

In [40]:
data=pd.DataFrame({'id':1028728,'week':[145],'center_id':[86],'meal_id':[2581],'Total_price':[1129]})

In [41]:
data = scaler.fit_transform(data)
data = pf.fit_transform(data)
data  = sm.add_constant(data)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [43]:
lm.predict(data)

array([142.87725653])

In [45]:
#training error - RMSE
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y, lm.predict(x))))

120.56182616700822

AttributeError: 'LinearRegression' object has no attribute 'summary'

In [ ]:
sns.boxplot(y)

In [ ]:
np.percentile(y,99.4)