In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")

# Data Preparation

In [2]:
train = pd.read_csv('train.csv')

In [3]:
test = pd.read_csv('test.csv')

In [4]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [5]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [6]:
train.Occupation.unique()

array([10, 16, 15,  7, 20,  9,  1, 12, 17,  0,  3,  4, 11,  8, 19,  2, 18,
        5, 14, 13,  6], dtype=int64)

In [7]:
test.Occupation.unique()

array([ 7, 17,  1, 15,  3,  0,  8, 16,  4, 12, 13, 18, 11,  9,  2, 20, 14,
       10,  6, 19,  5], dtype=int64)

In [8]:
train.isnull().any()

User_ID                       False
Product_ID                    False
Gender                        False
Age                           False
Occupation                    False
City_Category                 False
Stay_In_Current_City_Years    False
Marital_Status                False
Product_Category_1            False
Product_Category_2             True
Product_Category_3             True
Purchase                      False
dtype: bool

In [9]:
test.isnull().any()

User_ID                       False
Product_ID                    False
Gender                        False
Age                           False
Occupation                    False
City_Category                 False
Stay_In_Current_City_Years    False
Marital_Status                False
Product_Category_1            False
Product_Category_2             True
Product_Category_3             True
dtype: bool

In [10]:
train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [11]:
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [12]:
train.sample(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
507129,1000104,P00250642,M,26-35,12,C,3,1,11,NaN,NaN,4593
50578,1001733,P00151942,M,18-25,14,B,0,1,11,NaN,NaN,2999
368482,1002785,P00027042,M,55+,13,C,1,1,5,14.0,NaN,5296
374923,1003716,P00112442,M,18-25,12,B,3,1,6,8.0,NaN,20591
440572,1001775,P00258842,M,26-35,4,C,3,1,5,NaN,NaN,5220
75930,1005703,P00117642,M,55+,1,C,2,1,10,16.0,NaN,23180
46836,1001202,P00113042,M,36-45,12,B,0,0,11,16.0,NaN,4427
448228,1003054,P00043742,M,18-25,4,B,1,1,5,8.0,NaN,3523
20034,1003158,P00174442,M,26-35,15,B,1,0,5,NaN,NaN,5278
342890,1004764,P00076742,M,0-17,10,C,0,0,5,NaN,NaN,5183

# Data Cleaning

In [13]:
#to find percentage of data missing
missing_values_count = train.isnull().sum()
total_cells  = np.product(bf.shape)
total_missing = missing_values_count.sum()
(total_missing/total_cells)*100

NameError: name 'bf' is not defined

In [39]:
#the buyer did not buy product from categories 2 and 3, hence the missing values.
#Better to fill it with 0 as there are other values in the column which can contribute to analysis

train = train.fillna(0)

In [15]:
test = test.fillna(0)

In [16]:
train.sample(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
385222,1005300,P00291442,M,26-35,20,A,0,0,5,8.0,0.0,5308
124937,1001281,P00027542,M,26-35,19,C,1,0,8,0.0,0.0,5864
101702,1003718,P00275642,M,51-55,17,C,1,0,8,0.0,0.0,4227
450808,1003471,P00230742,M,18-25,4,A,1,0,5,0.0,0.0,5275
3618,1000588,P00086742,F,26-35,11,B,1,0,5,0.0,0.0,7098

In [17]:
#seeing what datatypes are there in dataset
train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [18]:
test.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
dtype: object

Object datatypes cannot be fed directly into an ML model

# converting all object datatypes into numerical

In [19]:
train.Gender.unique()

array(['F', 'M'], dtype=object)

In [20]:
#converting Gender into 0 and 1

def m_gender(gender):
    if gender == 'M':
        return 1
    else:
        return 0

train['Gender'] = train['Gender'].apply(m_gender)

In [21]:
#converting Gender into 0 and 1

def m_gender(gender):
    if gender == 'M':
        return 1
    else:
        return 0

test['Gender'] = test['Gender'].apply(m_gender)

In [22]:
train.Age.unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [23]:
test.Age.unique()

array(['46-50', '26-35', '36-45', '18-25', '51-55', '55+', '0-17'],
      dtype=object)

In [24]:
def map_age(age):
    if age =='0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '51-55':
        return 5
    else:
        return 6
train['Age'] = train['Age'].apply(map_age)

In [25]:
def map_age(age):
    if age =='0-17':
        return 0
    elif age == '18-25':
        return 1
    elif age == '26-35':
        return 2
    elif age == '36-45':
        return 3
    elif age == '46-50':
        return 4
    elif age == '51-55':
        return 5
    else:
        return 6
test['Age'] = test['Age'].apply(map_age)

In [26]:
#converting categorical into numerical for city
test.City_Category.unique()

array(['B', 'C', 'A'], dtype=object)

In [27]:
def m_city(city_category):
    if city_category == 'A':
        return 0
    elif city_category == 'B':
        return 1
    else:
        return 2
    
train['City_Category'] = train['City_Category'].apply(m_city)

In [28]:
def m_city(city_category):
    if city_category == 'A':
        return 0
    elif city_category == 'B':
        return 1
    else:
        return 2
    
test['City_Category'] = test['City_Category'].apply(m_city)

In [29]:
train.Stay_In_Current_City_Years.unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [30]:
def m_stay(stay):
    if stay == '4+':
        return 0
    else:
        return int(stay)
    
train['Stay_In_Current_City_Years'] = train['Stay_In_Current_City_Years'].apply(m_stay)

In [31]:
def m_stay(stay):
    if stay == '4+':
        return 0
    else:
        return int(stay)
    
test['Stay_In_Current_City_Years'] = test['Stay_In_Current_City_Years'].apply(m_stay)

In [32]:
col = ['User_ID','Product_ID']
train.drop(col, axis = 1, inplace = True)

In [33]:
col = ['User_ID','Product_ID']
test.drop(col, axis = 1, inplace = True)

In [34]:
#after all conversions and cleaning up
train.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,10,0,2,0,3,0.0,0.0,8370
1,0,0,10,0,2,0,1,6.0,14.0,15200
2,0,0,10,0,2,0,12,0.0,0.0,1422
3,0,0,10,0,2,0,12,14.0,0.0,1057
4,1,6,16,2,0,0,8,0.0,0.0,7969

In [35]:
train.shape

(550068, 10)

In [36]:
test.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1,4,7,1,2,1,1,11.0,0.0
1,1,2,17,2,0,0,3,5.0,0.0
2,0,3,1,1,0,1,5,14.0,0.0
3,0,3,1,1,0,1,4,9.0,0.0
4,0,2,1,2,1,0,4,5.0,12.0

In [37]:
test.shape

(233599, 9)

# EDA

In [38]:
sns.barplot(x = 'Gender', y = 'Purchase', data = bf)
plt.show()

NameError: name 'bf' is not defined

In [ ]:
bf[['Age','Purchase']].groupby('Age').mean().plot.bar()

sns.barplot(x = 'Age', y = 'Purchase' ,data = bf)
plt.show()

In [ ]:
bf.corr()

In [ ]:
sns.boxplot('Age', 'Purchase', data = bf)
plt.show()

In [ ]:
bf.describe()

In [ ]:
bf.shape

In [41]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

sc = StandardScaler()
x_scaled = sc.fit_transform(train)

black = pd.DataFrame(x_scaled, columns = train.columns)
black.head(5)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,-1.746513,-1.844248,0.294864,-1.371516,0.719626,-0.833018,-0.610809,-1.083654,-0.614641,-0.177973
1,-1.746513,-1.844248,0.294864,-1.371516,0.719626,-0.833018,-1.118912,-0.118323,1.625106,1.181756
2,-1.746513,-1.844248,0.294864,-1.371516,0.719626,-0.833018,1.675656,-1.083654,-0.614641,-1.561193
3,-1.746513,-1.844248,0.294864,-1.371516,0.719626,-0.833018,1.675656,1.168785,-0.614641,-1.633858
4,0.572570,2.588277,1.214734,1.259336,-1.179886,-0.833018,0.659449,-1.083654,-0.614641,-0.257805

In [42]:
x = train.drop('Purchase', axis =1)
y = train.Purchase

In [43]:
train.shape

(550068, 10)

In [44]:
test.shape

(233599, 9)

In [49]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [50]:
x=sm.add_constant(x)

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [52]:
model=sm.OLS(y,x).fit()
pred=model.predict(x)

In [53]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Purchase   R-squared:                       0.152
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                 1.097e+04
Date:                Fri, 14 Jun 2019   Prob (F-statistic):               0.00
Time:                        15:04:29   Log-Likelihood:            -5.4227e+06
No. Observations:              550068   AIC:                         1.085e+07
Df Residuals:                  550058   BIC:                         1.085e+07
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                       9521.8830     24.475    389.053      0.000    9473.914    9569.852
Gender                       476.2648     14.586     32.652      0.000     447.676     504.853
Age                          106.2979      4.911     21.647      0.000      96.673     115.922
Occupation                     5.7656      0.967      5.960      0.000       3.870       7.662
City_Category                317.0276      8.275     38.311      0.000     300.809     333.246
Stay_In_Current_City_Years     4.4144      5.926      0.745      0.456      -7.201      16.030
Marital_Status               -48.7093     13.347     -3.649      0.000     -74.869     -22.549
Product_Category_1          -348.0700      1.723   -202.038      0.000    -351.447    -344.693
Product_Category_2            12.5442      1.009     12.435      0.000      10.567      14.521
Product_Category_3           143.6704      1.085    132.400      0.000     141.544     145.797
==============================================================================
Omnibus:                    57259.429   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            79648.310
Skew:                           0.833   Prob(JB):                         0.00
Kurtosis:                       3.836   Cond. No.                         58.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [45]:
#it is a regression problem, hence f1-weighted scores will be calculated.

# Base Models

In [46]:
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

lr = LinearRegression()
#nb = GaussianNB()
dt = DecisionTreeRegressor(random_state=0)
rf = RandomForestRegressor(n_estimators=10,random_state=0)
knn = KNeighborsRegressor(n_neighbors=10)

In [47]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
#from sklearn.metrics import roc_curve, auc
kf=KFold(n_splits=5,shuffle=True,random_state=0)
# evaluate each model in turn
for model,name in zip([lr,dt,rf,knn],
                      ['lr','dt','rf','knn']):
    rmse = []
    for a,b in kf.split(x,y):
        xtrain,xtest=x.iloc[a,:],x.iloc[b,:]
        ytrain,ytest=y.iloc[a],y.iloc[b]
        model.fit(xtrain,ytrain)
        y_pred=model.predict(xtest)
        #mse = np.sum(ytest-y_predict)**2)/len(ytest)
        mse=mean_squared_error(ytest,y_pred)
        rmse.append(np.sqrt(mse))
    print('RMSE scores: %0.02f (+/- %0.5f) [%s]' % (np.mean(rmse), np.var(rmse,ddof =1), name))

RMSE scores: 4625.13 (+/- 85.26328) [lr]

KeyboardInterrupt:

# Bagging

In [ ]:
from sklearn.ensemble import BaggingRegressor
bag_lr = BaggingRegressor(base_estimator=lr,n_estimators=50, random_state=0 )
bag_dt  = BaggingRegressor(n_estimators=50, random_state=0)
bag_knn = BaggingRegressor(base_estimator=knn, random_state=0)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
#from sklearn.metrics import roc_curve, auc
kf=KFold(n_splits=5,shuffle=True,random_state=0)
# evaluate each model in turn
for model,name in zip([bag_lr, bag_dt,bag_knn],
                      ['bagged-lr','bagged-dt','bagged-knn']):
    rmse = []
    for a,b in kf.split(x,y):
        xtrain,xtest=x.iloc[a,:],x.iloc[b:]
        ytrain,ytest=y.iloc[a],y.iloc[b]
        model.fit(xtrain,ytrain)
        y_pred=model.predict(xtest)
        #mse = np.sum(ytest-y_predict)**2)/len(ytest)
        mse=mean_squared_error(ytest,y_pred)
        rmse.append(np.sqrt(mse))
    print('RMSE scores: %0.02f (+/- %0.5f) [%s]' % (np.mean(rmse), np.var(rmse,ddof =1), name))

# Boosting

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [ ]:
boosted_lr = AdaBoostRegressor(base_estimator=lr, n_estimators=50, random_state=0)
boosted_dt = AdaBoostRegressor(base_estimator=dt, n_estimators=50, random_state=0)
gboost = GradientBoostingRegressor(n_estimators=20, random_state=0)

In [ ]:
from sklearn.model_selection import KFold
#from sklearn.metrics import roc_curve, auc
kf=KFold(n_splits=5,shuffle=True,random_state=2)
# evaluate each model in turn
for model,name in zip([boosted_dt,boosted_lr,gboost],
                      ['boosted-dt', 'boosted-lr', 'gboost']):
    rmse = []
    for train,test in kf.split(x,y):
        xtrain,xtest=x.iloc[train,:],x.iloc[test,:]
        ytrain,ytest=y.iloc[train],y.iloc[test]
        model.fit(xtrain,ytrain)
        y_pred=model.predict(xtest)
        #mse = np.sum(ytest-y_predict)**2)/len(ytest)
        mse=mean_squared_error(ytest,y_pred)
        rmse.append(np.sqrt(mse))
    print('RMSE scores: %0.02f (+/- %0.5f) [%s]' % (np.mean(rmse), np.var(rmse,ddof =1), name))

In [ ]:
model = bag_dt.fit(x, y)

In [ ]:
train.shape

In [ ]:
train

In [ ]:
a = pd.DataFrame(train)
a.head()

In [ ]:
test.shape

In [ ]:
x.head()

In [ ]:
test.head()

In [ ]:
model.predict(x)

In [ ]:
pred1_y = model.predict(a)
pred1_y

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, r2_score
from math import sqrt

In [ ]:
rms = sqrt(mean_squared_error(ytest, pred1_y))
rms

In [ ]:
r2 = r2_score(ytest,pred1_y)
r2